html {
  overflow: scroll;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 5% 15% 8% 15%;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

body {
  margin: 0;
  background-color: #1b191c;
  overflow-x: hidden;
}

.personalPort {
  width: 100%;
}

.Section01 {
  border: 1px solid blue;
  display: flex;
  /* margin: 8% 15% 8% 15%; */
  justify-content: space-between;
  padding: 3%;
  align-items: center;
  flex-direction: column;
}

.img {
  object-fit: cover;
  border: 1px solid white;
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.name {
  color: white;
  font-size: 20px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 15px;
}

.gsap {
  margin: 10px;
  color: white;
  font-size: 18px;
}

.socials ul {
  direction: row;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  justify-content: space-around;
}
.socials ul li {
  padding: 10px;
  display: inline;
  list-style: none;
}

/* About Page */

.about-section {
  border: 1px solid red;
  text-align: center;
  padding: 0% 10% 0% 10%;
}

.about-heading {
  border: 1px solid white;
  width: 100%;
  color: white;
  font-size: 36px;
  font-family: Outfit;
  font-weight: 800;
  word-wrap: break-word;
}

.sub-heading {
  width: 100%;
  color: white;
  font-size: 26px;
  font-family: Outfit;
  font-weight: 250;
  border: 1px saddlebrown solid;
  /* word-wrap: break-word; */
}

.aboutme {
  border: 1px saddlebrown solid;
  width: 100%;
  color: white;
  font-size: 18px;
  font-family: Outfit;
  font-weight: 300;
  line-height: 32.3px;
  letter-spacing: 0.5px;
  text-align: justify;
  word-wrap: normal;
  background-color: #000000e7;
}

@media (max-width: 600px) {
  .about-section {
    margin: 10%;
    width: calc(100vw - 20%);
  }
}
