@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap");

html {
  overflow: scroll;
  overflow-x: hidden;
  margin: calc(100% - 98%) calc(100% - 92%) calc(100% - 85%) calc(100% - 92%);
}
::-webkit-scrollbar {
  /* width: 0; Remove scrollbar space */
  /* background: transparent; Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  /* background: #ff0000; */
}

body {
  margin: 0;
  background-color: #000000;
  overflow-x: hidden;
  font-family: "Hind Madurai", "Inter", "Noto Sans SC";
}

.hide {
  display: none;
}

.imp {
  border: 1px solid red;
  background-color: white;
  margin: 25%;
  text-align: center;
}
.imp button {
  border: none;
  font-size: 16px;
  color: black;
  background-color: wheat;
  padding: 10px;
}

.personalPort {
  /* background-color: #383838; */
}

/* Section 1 */

.Section01 {
  /* border: 1px solid blue; */
  margin-top: calc(100% - 98%);
  /* display: flex; */
  text-align: center;
  justify-content: space-between;
  padding: calc(100% - 97%);
}

.left {
  /* border: 1px solid yellow; */
  /* height: ; */
}

.left h1 {
  color: white;
  font-size: calc(100% + 1rem);
  margin: 0px;
  color: #d4375c;
}

.left h2 {
  color: white;
  font-size: calc(100% + 5rem);
  margin: 5px;
}

.name {
  font-family: "Lora", "Noto Sans SC";
}

.right {
  /* border: 1px solid yellow; */
}

.img {
  /* border: 1px solid white; */
  object-fit: cover;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 10px;
}

.name {
  /* border: 1px solid red; */
  color: white;
  font-size: 30px;
  font-weight: 500;
  margin: 10px;
  text-align: center;
}

/* .top {
  border: 1px solid red;
} */

/* About Page */

.section {
  /* border: 1px solid red; */
  text-align: center;
  padding: 0% 10% 0% 10%;
}

.section-heading {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(77, 73, 73);
  width: 100%;
  color: white;
  font-size: 36px;
  font-family: "Lora", "Noto Sans SC";
  font-weight: 800;
}

.sub-heading {
  width: 100%;
  color: #ffbd39;
  font-weight: 900;
  font-size: 26px;
  /* border: 1px saddlebrown solid; */
}

.abtme-container {
  background-color: #1a1b1b;
  border-radius: 5px;
  padding: 1% 2%;
  margin: 0% 0% 5% 0%;
}

.aboutme {
  width: 100%;
  /* border: 1px saddlebrown solid; */
  color: white;
  font-size: 18px;
  font-weight: 300;
  line-height: 32.3px;
  letter-spacing: 0.5px;
  text-align: justify;
  word-wrap: normal;
  margin: 0%;
}

@media (max-width: 600px) {
  .about-section {
    /* margin: 10%; */
    width: calc(100vw - 20%);
  }
}

/* Skills */

.skills-container {
  /* border: 1px solid red; */
}

.sub-sec {
  display: flex;
  /* border-left: 1px solid yellow; */
  justify-content: space-between;
  padding: 0% calc(100% - 90%);
  align-items: center;
  /* border-radius: 24px; */
  margin-bottom: 20px;
}

.sub-sec h1 {
  font-family: outfit;
  font-size: 26px;
  color: #ccd5ae;
  /* border: 1px solid red; */
}

.sub-sec ul {
  display: flex;
  list-style: none;
  /* border: 1px solid green; */
}

.sub-sec img {
}

.sub-sec p {
  margin: 0px;
  color: white;
  font-family: outfit;
}

/* Education */

.edu-container {
  /* background-color: #1a1b1b; */
  border-radius: 5px;
  /* padding: 5px; */
  /* border: 1px solid blueviolet; */

  display: flex;
  justify-content: space-around;
}

.educard {
  /* font-family: poppins; */
  /* border: 1px solid blueviolet; */
  padding: 1%;
  background-color: #1a1b1b;
  border-radius: 5px;
  width: 30%;
  text-align: left;
  color: white;
  /* margin: 2%; */
  display: flex;
  flex-direction: column;
}

.educard p {
  margin: 0px 0px 10px;
  /* border: 1px solid blanchedalmond; */
}

.date {
  font-weight: 900;
  font-size: 26px;
  color: #ffbd39;
}

.clg-title {
  font-size: 20px;
}

.clg-info {
  font-size: 16px;
}

/* Projects */

.pro-container {
  display: flex;
  /* border: 1px solid white; */
  gap: 20px;
  flex-wrap: wrap;
}

.box-card {
  background-color: #1a1b1b;
  border-radius: 10px;
  padding: 16px;
  width: calc(50% - 20px);
  box-sizing: border-box;
  flex-grow: 1;
  max-width: calc(50% - 20px);
}

.pro-title {
  color: white;
  /* border: 1px solid green; */
  font-size: 18px;
}

.pro-info {
  /* border: 1px solid bisque; */
  text-align: justify;
  font-size: 16px;
  color: white;
  /* background-color: white; */
}

.box-card button {
  font-size: 16px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  /* text-align: right; */
}

.box-card img {
  width: 100%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .pro-card {
    width: 100%;
    max-width: none;
  }
}

/* Certifications */
.cert-container {
  background-color: #1a1b1b;
  border-radius: 5px;

  display: flex;
  padding: 20px;
  /* border: 1px solid white; */
}

.cert-left {
  width: 100%;
  /* border: 1px solid red; */
  text-align: justify;
  padding: 2%;
  position: relative;
}

.cert-right {
  /* border: 1px solid red; */
  width: 70%;
  padding: 2%;
}
.cert-right img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  /* border: 1px solid white; */
  outline: none;
}

.cert-title {
  font-weight: 900;
  font-size: 26px;
  color: #ffbd39;
}

.cert-info {
  color: white;
}

.cert-nav {
  width: 100%;
  /* border: 1px solid red; */
  position: absolute;
  bottom: 1.3rem;
  left: 1.3rem;
}

.cert-nav button {
  /* border: 1px solid red; */
  border: none;
  padding: 1% 2%;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}
