.navbar__container {
  width: 100vw;
  height: 50px;
  background-color: blue;
  display: flex;
  justify-content: space-evenly;
  color: aliceblue;
  align-items: center;
}
.navbar__sections {
  width: 50vw;
}
.navbar__sections ul {
  display: flex;
  justify-content: space-evenly;
}
.navbar__sections ul li {
  list-style: none;
}


