.personalPort {
  /* background-color: #131316; */
}

/* Section 1 */

.Section01 {
  /* border: 1px solid blue; */
  /* margin: calc(100%-10%) calc(100% - 80%); */
  padding: 5% 10% 0% 10%;
  text-align: center;
  justify-content: space-between;
  /* padding: calc(100% - 97%); */
}

.left {
  /* border: 5px solid rgb(250, 250, 250); */
}

.left h1 {
  /* border: 5px solid yellow; */
  color: white;
  font-size: calc(100% + 1rem);
  margin: 0px;
  color: #d4375c;
}

.left h2 {
  /* border: 1px solid rgb(153, 153, 130); */
  color: white;
  font-size: calc(100% + 5rem);
  margin: 0px;
}

.name {
  font-family: "Lora", "Noto Sans SC";
}

/* Socials */

.socials-nav {
  /* border: 1px solid red; */
  /* margin: 0px calc(100% - 82%); */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0px;
}

.socials-nav p {
  color: #8d99ae;
  font-size: 20px;
  /* margin: 0px; */
}

.v-count {
  /* border: 1px solid red; */
  border-radius: 6px;
}

.v-num {
  color: green;
  font-family: outfit;
  font-weight: bolder;
}

.socials-nav a {
  /* border: 1px solid red; */
  text-decoration: none;
  font-size: 20px;
  color: #8d99ae;
}

.socials-nav ul {
  /* border: 1px solid red; */
  display: flex;
  list-style: none;
  padding: 0px;
  opacity: 60%;
}

.socials-nav li {
  cursor: pointer;
  height: 32px;
}

.socials-nav li:not(:last-child) {
  margin-right: 10px;
}

.right {
  /* border: 1px solid rgb(255, 143, 6); */
}

.img {
  /* border: 1px solid white; */
  object-fit: cover;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin: 10px;
}

.name {
  /* border: 1px solid red; */
  color: white;
  font-size: 30px;
  font-weight: 500;
  margin: 10px;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
}

@media screen and (max-width: 480px) {
  .left h2 {
    font-size: calc(100% + 1rem);
    margin: 5px;
  }

  .img {
    height: 180px;
    width: 180px;
  }

  .socials-nav {
    /* border: 1px solid red; */
    flex-direction: column;
    gap: 10px;
  }

  .socials-nav p {
    /* border: 1px solid red; */
    font-size: 16px;
  }

  .socials-nav li {
    cursor: pointer;
    height: 10px;
  }
}
