.personalPort,
.Section01,
.left,
.left h1,
.left h2 {
  /* border: 1px solid rgb(255, 255, 255); */
}

.Section01 {
  /* border: 1px solid red; */
  max-width: 850px;
  margin: 0 auto;
  /* padding: 1rem; */
}

/* Section 1 */

.left h1 {
  /* border: 5px solid yellow; */
  color: white;
  font-size: 2rem;
  margin: 0px;
  color: #d4375c;
}

.left h2 {
  color: white;
  font-size: 5rem;
  margin: 0px;
}

.name {
  font-family: "Lora", "Noto Sans SC";
}

/* Grid for info */

.info {
  /* border: 1px solid rgb(125, 240, 2); */
  color: white;
  font-size: 20px;
  margin: 10px;
  text-align: center;
}

/* Socials */

.socials-nav {
  /* border: 1px solid red; */
  /* margin: 0px calc(100% - 82%); */
  display: flex;
  /* align-items: center; */
  justify-content: space-evenly;
  /* padding: 10px 0px; */
}

.v-count {
  /* border: 1px solid red; */
  border-radius: 6px;
}

.v-num {
  color: green;
  font-family: outfit;
  font-weight: bolder;
}

.socials-nav li:not(:last-child) {
  margin-right: 10px;
}

.right {
  /* border: 1px solid rgb(255, 143, 6); */
}

.img {
  /* border: 1px solid white; */
  object-fit: cover;
  height: 250px;
  width: 250px;
  border-radius: 20%;
  margin: 10px;
}

.name {
  /* border: 1px solid red; */
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 500;
  margin: 10px;
  text-align: center;
  /* text-shadow: 0 0 5px #fff, */
  /* 0 0 10px rgb(149, 0, 255), */
  /* 0 0 20px rgb(26, 25, 14), */
  /* 0 0 40px rgb(6, 20, 13); */
}

@media screen and (max-width: 600px) {
  .left h2 {
    font-size: calc(100% + 1rem);
    margin: 5px;
  }

  .img {
    height: 180px;
    width: 180px;
  }

  .socials-nav {
    /* border: 1px solid red; */
    flex-direction: column;
    gap: 10px;
  }
}

.social-btn {
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: #ffffff;
  padding: 8px 16px;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  font-family: "Outfit";
}

.social-btn:hover {
  background-color: #333333;
  /* transform: translateY(-2px); Slight lift effect */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.social-btn img {
  height: 18px;
  width: 18px;
  margin-right: 10px;
  display: block;
}
