.hidden {
  display: none;
}

.professional-content {
  /* border: 1px solid blue; */
  padding-top: 1rem;
  text-align: center;
}

#head-professional {
  /* border: 1px solid #1e90ff; */
  position: relative;
  display: inline-block;
}

.personal-content {
  padding-top: 1rem;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .morpheus-img {
    width: 70%;
  }
  .pill-button {
    position: absolute;
    padding: 10px 0px;
    font-size: 15px;
    width: 100px;
    border-radius: 30px;
  }
  .pill-button.professional {
    left: 20%;
    top: 65%;
  }

  .pill-button.personal {
    right: 20%; /* Adjust based on hand position */
    top: 65%;
  }
}

.personal-content h1 {
  /* border: 1px solid #1e90ff; */
}

.section {
  /* border: 1px solid red; */
  text-align: center;
  /* padding: 0% 10% 0% 10%; */
}

.section-heading {
  /* border: 1px solid red; */
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(77, 73, 73);
  width: 100%;
  color: white;
  font-size: 36px;
  font-family: "Lora", "Noto Sans SC";
  font-weight: 800;
}

.sub-heading {
  width: 100%;
  color: #ffbd39;
  font-weight: 900;
  font-size: 26px;
  /* border: 1px saddlebrown solid; */
}

.professional-abtme-container {
  background-color: #1a1b1b;
  /* background-color: #3a506b; */
  border-radius: 8px;
  padding: 1% 2%;
  margin: 0% 0% 5% 0%;
}

.professional-aboutme {
  width: 100%;
  /* border: 1px saddlebrown solid; */
  color: white;
  font-size: 18px;
  font-weight: 300;
  line-height: 32.3px;
  letter-spacing: 0.5px;
  text-align: justify;
  word-wrap: normal;
  margin: 0%;
}

@media (max-width: 600px) {
  .section {
    padding: 0% 5% 0% 5%;
  }

  .sub-heading {
    font-size: 20px;
  }

  .aboutme {
    font-size: 16px;
  }

  .about-section {
    /* margin: 10%; */
    width: calc(100vw - 20%);
  }
}
