.hidden {
  display: none;
}

.professional-content {
  /* border: 1px solid blue; */
  padding-top: 1rem;
  text-align: center;
}

#head-professional {
  /* border: 1px solid #1e90ff; */
  position: relative;
  display: inline-block;
}

.personal-content {
  padding-top: 1rem;
  text-align: center;
}

.personal-content h1 {
  /* border: 1px solid #1e90ff; */
}

.professional-abtme-container {
  background-color: #1a1b1b;
  border-radius: 8px;
  padding: 1% 2%;
  margin: 0% 0% 5% 0%;
}

.professional-aboutme {
  /* width: 100%; */
  /* border: 1px saddlebrown solid; */
  color: white;
  font-size: 18px;
  font-weight: 300;
  line-height: 32.3px;
  letter-spacing: 0.5px;
  text-align: justify;
  word-wrap: normal;
  margin: 0%;
}

@media (max-width: 600px) {
  .section {
    padding: 0% 5% 0% 5%;
  }

  .sub-heading {
    font-size: 20px;
  }

  .aboutme {
    font-size: 16px;
  }

  .about-section {
    /* margin: 10%; */
    width: calc(100vw - 20%);
  }
}
