.professional-abtme-container {
  background-color: #1a1b1b;
  padding: 1% 2%;
  margin: 0% 0% 5% 0%;
  /* border: 1px solid #656558; */
  border-radius: 25px;
}

.professional-aboutme {
  color: white;
  font-size: 16px;
  font-weight: 350;
  line-height: 26px;
  text-align: justify;
  word-wrap: normal;
  margin-bottom: 5%;
}

@media (max-width: 600px) {
  .section {
    padding: 0% 5% 0% 5%;
  }

  .sub-heading {
    font-size: 20px;
  }

  .aboutme {
    font-size: 16px;
  }

  .about-section {
    width: 100%;
    padding: 0 10%;
    box-sizing: border-box;
  }
}
