.pro-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}


.box-card {
  background-color: #1a1b1b;
  border-radius: 10px;
  padding: 16px;
  flex: 1 1 300px;   /* flexible card */
  max-width: 100%;
  box-sizing: border-box;
}


.pro-title {
  /* border: 1px solid red; */

  font-weight: 500;
  font-size: 22px;
  color: #ffbd39;
  font-family: outfit;
}

.pro-info {
  /* border: 1px solid bisque; */
  text-align: justify;
  font-size: 16px;
  color: white;
  height: 180px;
  /* background-color: white; */
}

.pro-footer {
  /* border: 1px solid red; */
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  font-size: 18px;
}

.pro-footer a {
  text-decoration: none;
  color: white;
}

.pro-footer p {
  color: white;
  margin: 0px;
}

.box-card img {
  width: 100%;
  border-radius: 10px;
}


/* Slider */

.slider {

}

@media (max-width: 600px) {
  .pro-container {
    flex-direction: column;
  }
  .box-card {
    width: 100%;
  }
  .box-card img {
    width: 100%;
  }
}
