.section {
  /* border: 1px solid rgb(255, 255, 255); */
  /* border-radius: 25px; */
  text-align: center;
  /* padding: 0% 10% 0% 10%; */
  /* background-color: #171410; */
}

.section-heading {
  /* border: 1px solid red; */
  /* margin: 10px; */
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(77, 73, 73);
  width: 100%;
  color: white;
  font-size: 24px;
  font-family: "Lora", "Noto Sans SC";
  font-weight: 800;
}

.sub-heading {
  width: 100%;
  color: #ffbd39;
  font-weight: 900;
  font-size: 26px;
  /* border: 1px saddlebrown solid; */
}
