.ToggleChoice {
  padding-top: 2rem;
  /* border: 1px solid red; */
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.segmented {
  border: 1px solid rgb(185, 174, 174);
  position: relative;
  width: 320px;
  height: 48px;
  background: #1a1a1a;
  border-radius: 999px;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: 40px;
}

/* .segmented:hover {
  background-color: #333333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */

.segmented button {
  flex: 1;
  border: none;
  background: transparent;
  color: #aaa;
  font-size: 15px;
  cursor: pointer;
  z-index: 2;
  transition: color 0.65s;
  font-family: "Outfit", "Noto Sans SC";
  /* border: 1px solid red; */
}

.segmented button.active {
  color: #000;
  font-weight: 600;
  font-size: 18px;
}

.indicator {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #ffffff;
  border-radius: 999px;
  left: 0;
  transition: transform 0.65s;
  /* border: 5px solid rgb(16, 68, 113); */
}



.view {
  display: none;
}

.view.active {
  display: block;
}

.content-box {
  /* background-color: #30301d; */
  border: 1px solid rgb(74, 65, 65);
  border-radius: 25px;
  overflow: hidden;
  transition: transform 0.65s ease-in;
}
